<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ca.tbcn.greenp" android:debuggable="true"
	android:installLocation="auto" android:versionName="1.1.4" android:versionCode="5">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@android:style/Theme.NoTitleBar">

		<uses-library android:name="com.google.android.maps" />
		<activity android:name=".GreenParking" android:label="@string/app_name"
		  android:configChanges="orientation|keyboardHidden" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".CarparkActivity" android:label="@string/app_name"
		  android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

	</application>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />

	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="5"></uses-sdk>
</manifest>